/* Zen Tokyo Zoo headers */
/* Gill Sans body */
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

/* rgb(189, 189, 189) */

body {
    margin: 0;
    background-color: rgb(189, 189, 189);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.zoo-header {
    background-color: crimson;
    font-size: 3rem;
    font-family: 'Zen Tokyo Zoo', sans-serif;
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: -1rem;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    text-align: center;
    font-family: 'Zen Tokyo Zoo', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: -2rem;
    width: 100%;
    word-spacing: 10rem;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 1.2rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

nav a:hover {
    background-color: crimson;
}

.slide-container {
    max-width: 800px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.section {
    width: 100%;
}

.myslides {
    width: 100%;
}

.slideleft,
.slideright,
.slidebadge {
    cursor: pointer
}

.slidebadge {
    height: 13px;
    width: 13px;
    padding: 0
}

.hovertext {
    color: white;
}

.hovertext:hover {
    color: khaki;
}

.dots {
    border: 1px solid white;
    border-radius: 50%;
}

.dots:hover {
    color: white;
}

#pokemonlist {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 0;
    align-items: center;
    list-style: none;
}

.card {
    position: relative;
    list-style: none;
    background: linear-gradient(to top,
    #f4f4f4 0%,
    #f4f4f4 50%,
    crimson 50%,
    crimson 100%);
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    color: #222;
    transition: transform 0.5s;
    text-align: center;
    border-radius: 50%;
    width: 230px;
}

.card:hover {
    transform: scale(0.7);
}

.card-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 0;
}

.card-subtitle {
    font-weight: lighter;
    color: #666;
    margin-top: 5px;
}

.card-image {
    width: 150px;
    height: 150px;
    top: 20px;
    z-index: 3;
    position: relative;
}

.circle {
    background-color: black;
    position: absolute;
    top: 115px;
    right: 124px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.circletwo {
    background-color: #f4f4f4;
    position: absolute;
    top: 126px;
    right: 134px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 1;
}

.circlethree {
    background-color: #f4f4f4;
    border: 1px solid black;
    position: absolute;
    top: 130px;
    right: 138px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: 1;
}

.line {
    background-color: black;
    position: inherit;
    top: -50px;
    right: 40px;
    width: 310px;
    height: 20px;
    z-index: 0;
}

.container {
    padding: 40px;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
}

/* .popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #f4f4f4;
    opacity: 0.95;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.popup .card {
    background: linear-gradient(to top,
                #f4f4f4 0%,
                #f4f4f4 50%,
                crimson 50%,
                crimson 100%);
    border: 1px solid black;
    width: 280px;
}

.popup .card-image {
    width: 150px;
    height: auto;
} */

#closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: orangered;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 3px;
    transition: transform 100ms;
}

button:hover {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0px 1px 2px darkred;
}

.type {
    text-transform: uppercase;
}

.head-foot-color {
    background-color: crimson;
    width: 100px;
    height: 20px;
}

#next, #prev {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 0.5rem;
}

.nextprev {
    text-align: center;
    padding: 2rem;
}

footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

@media screen and (min-width: 48rem) {
    nav {
        justify-content: center;
            flex-direction: row;
    }
    #pokemonlist {
            grid-template-columns: 1fr 1fr;
        }
}

@media screen and (min-width: 70rem) {
    #pokemonlist {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* .nav-color {
    background-color: #7B904B;
    width: 100px;
        height: 20px;
}

.dets-color {
    background-color: #58641D;
    width: 100px;
        height: 20px;
}

.form-color {
    background-color: #273B09;
    width: 100px;
        height: 20px;
} */