/* Zen Tokyo Zoo headers */
/* Gill Sans body */
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

.zoo-body {
    background-color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.zoo-header {
    background-color: crimson;
    font-size: 3rem;
    font-family: 'Zen Tokyo Zoo', sans-serif;
    color: white;
    text-align: center;
    padding: 1.5rem;
    margin-left: -2rem;
    margin-right: -2rem;
    margin-top: -1rem;
}

.pokemon-img {
    width: 25%;
}

#pokemon {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

#pokemon li {
    margin-bottom: 20px;
}

.poke-link {
    text-transform: capitalize;
}

.head-foot-color {
    background-color: crimson;
    width: 100px;
    height: 20px;
}

.main-color {
    background-color: bisque;
    width: 100px;
        height: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

#next, #previous {
    font-size: 1rem;
    font-weight: bold;
    border-style: none;
    background-color: transparent;
}

/* .nav-color {
    background-color: #7B904B;
    width: 100px;
        height: 20px;
}

.dets-color {
    background-color: #58641D;
    width: 100px;
        height: 20px;
}

.form-color {
    background-color: #273B09;
    width: 100px;
        height: 20px;
} */